<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MTG Decks</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/login" id='login'>Login</a></div>
    <div id="loggedIn">
        <div class="navlink"><a href="/remove">Remove Decks</a></div>
        <div class="navlink"><a href="/maker">Make a Deck</a></div>
        <div class="navlink" id='change'><a href="/change">Change Password</a></div>
    </div>
      <div class="navlink"><a id="standard" class="formatChange">Standard</a></div>
        <div class="navlink"><a id="modern" class="formatChange">Modern</a></div>
        <div class="navlink"><a id="legacy" class="formatChange">Legacy</a></div>
        <div class="navlink"><a id="commander" class="formatChange">Commander</a></div>
        <div class="navlink"><a id="all" class="formatChange">All Formats</a></div>
  </nav>
    <section id="errorMessage"></section>
    <img class = "ad" id= "ad1" src = "" />
    <h2 id="currentFormat">Standard</h2>
  <section id="decks">
  </section>
    <nav id="deckPages">
        <div class='navLink' id='previous'>Previous</div>
        <div class='navLink' id='next'>Next</div>
    </nav>
    <img class = "ad" id= "ad2" src = "" />
  <script src="/assets/mainBundle.js"></script>
</body>
</html>