<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MTG Decks</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>  
  <nav>
    <div class="navlink"><a href="/login" id='login'>Login</a></div>
    <div id="loggedIn">
        <div class="navlink"><a href="/remove">Remove Decks</a></div>
        <div class="navlink"><a href="/maker">Make a Deck</a></div>
        <div class="navlink"><a href="/">View Decks</a></div>
        <div class="navlink" id='change'><a href="/change">Change Password</a></div>
    </div>
  </nav>
    <section id="errorMessage">Error 404: Content Not Found</section>
  <script src="/assets/notFoundBundle.js"></script>
</body>
</html>