html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.formatChange:hover {
    cursor: pointer;
}

.deckForm {
    border: 2px solid #338acc;
    width: 100%;
    margin-top:0px;
    padding-top:10px;
    left: 30%;
    height: 170px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
}

.deckForm label {
    display: inline-block;
    width: 75px;
    margin-left: 1%;
    font-size: 1.2em;
    float: left;
    color: white;
}

#editName {
    display: inline-block;
    width: 10%;
    margin-left: 1%;
    font-size: 1.2em;
    float: left;
    color: white;
}

.deckForm input[type=text] {
    float:left;
}

.deckForm textarea {
    float:left;
    margin-left: 2%;
}

#deckLevel {
    float:right;
}

.makeDeckSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    position: relative;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 2%;
}

.makeDeckSubmit:link, .makeDeckSubmit:visited, .makeDeckSubmit:hover, .makeDeckSubmit:active {
    color: white;
}

.makeDeckSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#passwordForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

#passwordForm label {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

#passwordFormSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

#passwordFormSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

#passwordFormSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#deckMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#deckMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#deck {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#decks {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.deck {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.deck:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.deckFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDeck {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.deckName {
    float:left;
    width: 250px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.deckAge {
    float:left;
    text-align: left;
    width: 75px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.deckLevel {
    float:right;
    text-align: left;
    width: 120px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.deck:first-child {
    margin-top: 10px;
}

.deck:last-child {
    margin-bottom:10px;
}

#next{
    margin-right: 25%;
    float: right;
}

#previous{
    margin-left: 25%;
    float: left;
}

#previous:hover{
    transition: background-color 0.8s ease;
    background-color: #66bdff;
    cursor: pointer;
}

#next:hover{
    transition: background-color 0.8s ease;
    background-color: #66bdff;
    cursor: pointer;
}

#deckPages {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background-color: #55acee;
}

#deckPages:nth-child(1) {
    padding-left: 25px;
}

#card{
    position: fixed;
    left: 85%;
    top: 30%;
}

#loggedIn{
    display: none;
}

#deckListName {
    margin-left: 45%;
}

.mainDeckCard{
    width: 300px;
    margin-left: 10px;
}

.sideboardCard{
    width: 300px;
    margin-left: 10px;
}

#mainboardList{
    clear:left;
    margin-left: 10%;
    float: left;
    background-color: #55acee;
    border-style: solid;
}

#main{
    margin-left: 15%;
    float: left;
}

#sideboardList{
    clear:right;
    float: right;
    margin-right: 21%;
    background-color: #55acee;
    border-style: solid;
}

#side{
    float: right;
    margin-right: 27%;
}

#errorMessage{
    margin: 0 auto;
    text-align: center;
}

#ad1{
    float: left;
    width: 128px;
    height: 500px;
    padding-left: 20px;
}

#ad2{
    margin-left: 22%;
    margin-top: 50px;
    height: 128px;
    width: 700px;
}

#format{
    float: left;
}

#change{
    float:right;
}